*:hover, *:focus{
	transition-duration: 0.5s;
}

.body{
	font-family: 'Open Sans', sans-serif;
}
.brand{
	margin: -.8rem -1rem;
    padding: .8rem 1rem;
	font-family: 'Titillium Web', sans-serif;
}
.brand:hover{
	background-color: #da6a04;
}

.nav-item{
	margin: 0 5px;
}

.nav-item:hover, .nav-item.active{
	border-bottom: 2px solid #fff;\
}

.search{
	border: 0;
	border-radius: 0;
	border-bottom: 2px solid #8725f7;
	background-color: transparent;
	color: #fff;
}

.search:focus{
	background-color: transparent;
	border-color: #fff;
	/*border: 0;*/
}

.form-control:focus{
	/*border: 0 !important;*/
	color: #fff;
	box-shadow: none;
}

.input-suffix{
	margin-left: -2rem;
}

button.input-suffix{
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.form-inline .search {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.header{
	/*give it most of the viewport height*/
	height: 95vh; 
	background-image: url('../images/banner.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	
}

.overlay-black{
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.21);
	min-width: 100%;
	min-height: 95vh;
}

.description{
    position: absolute;
    bottom: 10vh;
    margin: auto;
    padding: 2em;
    font-family: 'Muli' , sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
}

.description p{
 /*color:#666;*/
 font-size: 1.0rem;
 max-width: 500px;
 line-height: 1.5;
}
.description button{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
}

.logo-icon{
	/*position: absolute;*/
	height: 95vh;
}

.profile-picture{
	border: 1px solid #000;
	max-width: 200px; 
	max-height: 200px;
}

.border-right-2{
	border-right: 2px solid #ccc;
}

.about-text{
	padding: 2rem;
}

@media(max-width: 760px){
	.border-right-2{
		border-right: 0;
	}
}